<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>修改密码界面</title>
  <link rel="stylesheet" href="../../static/css/welcome_style.css">
</head>

<body background="../../static/sources/result2.png">
<!-- partial:index.partial.html -->
{% if get_flashed_messages() %}
          <script>
          alert('{{ get_flashed_messages()[0] }}');
          </script>
{% endif %}
<div class="login-page">
  <div class="form">
      <h1>修改密码</h1>
    <form class="login-form" method="post">
      {{ form.old_password }}
        {% for message in form.old_password.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
      {{ form.new_password }}
        {% for message in form.new_password.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
        {{ form.new_password_cfm }}
        {% for message in form.new_password_cfm.errors %}
            <small class="error">{{ message }}</small><br>
        {% endfor %}
      <button type="submit">确认修改</button>
    </form>
      <p class="message"><a href="/welcome">返回</a></p>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="../../static/js/welcome_script.js"></script>

</body>
</html>
